<header class="page-header outer" id="header_wrap">
   <div class="inner text-center">
    {% if site.github.is_project_page %}
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    {% endif %}
  
    <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    <div class="container-lg">
      <ul>
        <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/" | relative_url}}" class="text-white">Wiki</a></li>
        <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/about" | relative_url }}" class="text-white">About</a></li>
        <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/contact" | relative_url}}" class="text-white">Contact</a></li>
      </ul>
    </div>
  
    {% if site.show_downloads %}
     <section id="downloads">
       <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
       <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
      </section>
    {% endif %}
  </div>
</header>
