---
---

@import "{{ site.theme }}";

$white: #fff;
$black: #1b1f24;
$gray: #586069;

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.page-header {
  width: 100%;
  background-color: $black;
  -webkit-transition: background-image 0.6s ease-in-out 0s;
  -moz-transition: background-image 0.6s ease-in-out 0s;
  -o-transition: background-image 0.6s ease-in-out 0s;
  transition: background-image 0.6s ease-in-out 0s;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-border {
  border: 5px solid $white;
  max-width: 100%;
}

@mixin btn-transparent-active {
  color: $gray;
  background-color: $white;
  background-image: none;
  border-color: $white;
}

.btn-transparent {
  color: $white;
  background-color: transparent;
  background-image: none;

  &:hover,
  &:active {
    @include btn-transparent-active;
  }
}

.animate-in {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.animate-out {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-animation: scale-in 0.6s ease-in-out;
  animation: scale-in 0.6s ease-in-out;
}
